.friendMessage {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    margin-left: 7px;
    max-width: 50%;
    padding: 7px 13px;
    text-align: start;
    background-color: #F5F7FB;
    color: black;
    border-radius: 10px;

}

.friendText:after {
    content: '';
    position: absolute;
    left: -4px;
    bottom: 0px;
    width: 18px;
    height: 9px;
    transform: matrix3d(1, 0, 0, 0, -1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    background-color: #F5F7FB;

}

.friendName {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 16px;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
}

.friendTime {
    margin-left: 7px;
    font-weight: 600;
    font-size: 10px;
}